.alert-error, .errorlist {
    color: crimson;
}

.alert-success {
    color: green;
}

.pagination {
    margin-top: 20px;
}

.pagination a {
    text-decoration: none;
    margin: 0 5px;
}

.pagination .current {
    font-weight: bold;
    margin: 0 5px;
}

em {
    font-style: italic;
}

.tag-list li {
  display: inline-block;
  margin-right: 5px;
}